absl-py==0.7.0
alabaster==0.7.12
apipkg==1.5
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.3
docutils==0.14
execnet==1.6.0
filelock==3.0.10
Flask==1.0.2
future==0.17.1
gast==0.2.2
grpcio==1.18.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
line-bot-sdk==1.8.0
Markdown==3.0.1
MarkupSafe==1.1.1
more-itertools==7.0.0
numpy==1.16.1
packaging==19.0
pep8==1.7.1
pkginfo==1.5.0.1
pluggy==0.11.0
protobuf==3.6.1
py==1.8.0
Pygments==2.4.0
pypandoc==1.4
pyparsing==2.4.0
pytest==4.4.2
pytest-cache==1.0
pytest-cov==2.7.1
pytest-pep8==1.0.6
pytz==2019.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
responses==0.10.6
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
toml==0.10.0
tox==3.9.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.3
virtualenv==16.5.0
webencodings==0.5.1
Werkzeug==0.14.1
